@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    742 Evergreen Terrace<br />
    Springfield, MO<br />
    <abbr title="Phone">P:</abbr>
    (08)2222 3333
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@widgets.com">Support@widgets.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@widgets.com">Marketing@widgets.com</a>
</address>